<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andriod.computerglitzapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Checklist"
            android:label="@string/title_activity_checklist" />
        <activity
            android:name=".Favorites"
            android:label="@string/title_activity_favorites" />
        <activity
            android:name=".SchoolInfo"
            android:label="@string/title_activity_school_info" />
        <activity
            android:name=".TrendingJobs"
            android:label="@string/title_activity_trending_jobs"></activity>
        <activity
            android:name=".CollegeListActivity"
            android:label="Search"></activity>
        <activity
            android:name=".IndividsualChecklist"
            android:label="IndividsualChecklist"></activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>